body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
root: {
  --brandcolor: #2e2f42;
}
a {
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
   font-family: "Raleway", sans-serif
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio-link{
  color: #f4f4fd
}
.portfolio {
  color: #2e2f42;
}
.sections {
  color: WHITE;
  background-color: #404bbf;
}
.sections__button {
  color: #4d5ae5;
  background-color: #e7e9fc;
  cursor: pointer;
}
h3 {
  font-size: 20px;
  line-height: 1.5;
  color: #2e2f42;
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.footer {
  color: #f4f4fd;
}
footer {
  background-color: #2e2f42;
  color: #F4F4FD;
   letter-spacing: 0.02em
}
.contact-contacts {
  color: #2e2f42;
}

.contact-contacts:hover {
  color: #404bbf;
}
.contact-contacts:focus {
  color: #404bbf;
}
