:root {
  --brandcolor: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo, .address , .list{
  list-style-type: none;
}

.logo-navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #2E2F42 
  
}

.logo-navigation-decor {
   color: #4D5AE5;
}

.logo-menu-link {
 text-decoration: none;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #2E2F42;
}

.address{

}

.address-contacts {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}
.logo-menu-link:hover {
  color: #404bbf;
}

.logo-menu-link:focus {
  color: #404bbf;
}

.address-contacts:hover {
  color: #404bbf;
}

.address-contacts:focus {
  color: #404bbf;
}

.list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em ;
  color:#4d5ae5;
    cursor: pointer;
}

.list-button-all {

color: #FFFFFF
}

.list-button-text:hover {
  color: #FFFFFF;
  
}

.list-button-text:focus {
  color: #FFFFFF;
}


.list-link {
width: 360px;
height: 300px;
}

.list-link-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42
}

.list-link-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-decor-text {
 font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}