body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --brandcolor: #2e2f42;
}
a {
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
   font-family: "Raleway", sans-serif
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio-link{
  color: #f4f4fd
  font-family: 'Raleway', sans-serif,
  line-height: 1.17;
}
.logo-studio-decor{
  color: #f4f4fd;
}
.list{
  list-style: none;
}
.list-button-text{
  'Roboto', sans-serif,
  font-weight: 500;
   font-size: 16px;
   line-height: 1.5 
   letter-spacing: 0.04em
   color:#4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}
.list-button-text:hover {
 color: #FFFFFF;
}
.list-button-text:focus{
  color: #FFFFFF;
}
.list-link {
  text-decoration: none;
}
.list-link-title{
  font-weight: 500 ;
   font-size: 20px;
   line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42
}
.list-link-paragraph{
  font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:  #434455 ;
}

.footer-decor-text {
  background-color: #2e2f42;
  color: #F4F4FD;
   letter-spacing: 0.02em
}
.contact-contacts {
  color: #2e2f42;
}

.contact-contacts:hover {
  color: #404bbf;
}
.contact-contacts:focus {
  color: #404bbf;
}
